.chatInfo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
  margin-top: 40px;
}

.chatInfo:hover {
  cursor: pointer;
}

.chatInfo div {
  display: flex;
  flex-direction: column;
}

.chatInfo div:nth-last-child(2) {
  margin-left: 10px;
}

.chatInfo div:last-child {
  position: absolute;
  right: 17px;
  align-items: flex-end;
}

.chatInfo__title {
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.chatInfo__content {
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 15px;
  color: var(--FontColor);
}

.chatInfo__time {
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 13px;
  color: var(--FontColor);
  margin-bottom: 5px;
}

.chatInfo__count {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 13px;
  color: white;
  background-color: red;
  border-radius: 50%;
}

.chatInfo__img img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
}

.mainSheet_div_Margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
